/*reset css*/

* {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #111111;
}

.menu,
.menu-list {
    padding: 0;
    margin: 0;
}

h3 strong {
    font-size: 20px;
}


/*nav*/

small {
    font-family: "";
    color: #D3D3D3
}

.navbar-default {
    background-color: #ffffff;
}

.menu {
    text-align: center;
}

.menu,
.menu-list {
    padding: 0;
    margin: 0;
}

.menu li {
    font-size: 16px;
    list-style: none;
    display: inline-block;
    position: relative;
    /*height: 4.5em;*/
}

.menu li.nav-current a {
    border-bottom: 1px solid #85C849;
    margin-bottom: -2px;
}

.menu li a {
    font-size: 16px;
    color: #000;
    line-height: 4.5em;
    display: block;
    margin: 0 21px;
    text-decoration: none;
}

.menu-list {
    padding: 1em;
    line-height: 2em;
}

.menu-list-sub {
    font-size: 16px;
    margin-left: 10em;
}

li.menu-list-sub a {
    font-size: 13px;
    font-weight: 400;
    height: 4.5em;
    margin: 0;
    display: inline-block;
    color: #696262;
}

.nav-right-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url(../image/thinkgeo_right_logo.png);
    width: 1.5em;
    height: 1.5em;
    background-size: cover;
    position: relative;
    margin: -0.5em 0.2em;
}


/*container*/

.page-header {
    margin: 0;
}

.page-header h1 {
    margin: 0 0 2em 0;
    font-size: 32px;
}

.page-header {
    padding-bottom: 0;
    border: none;
}

.wrapper {
    padding: 3em 3em;
}

.wrapper:nth-child(n+1) {
    border-bottom: 1px solid #D2D2D2;
}

.wrapper:nth-last-child(1) {
    padding-bottom: 10em;
}

.wrapper h3 {
    margin-bottom: 2em;
}

.wrapper ul {
    padding: 14px;
}

.wrapper h3 {
    margin-bottom: 2em;
}

.wrapper p {
    margin: 0 0 1em 0;
}


/*footer*/

.footer {
    color: #ffffff;
    background-color: #515151;
    height: 18em;
}

.footer .row > div {
    top: 3em;
}

.footer div,
.footer-detail a,
.footer p {
    color: #ffffff;
}

.footer-left-logo {
    text-align: right;
    position: relative;
    top: 2em;
}


/*media */

@media screen and (max-width: 1190 px) {
    .menu li:nth-last-child(1) {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .footer p {
        line-height: normal;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 768px) {
    .menu li:nth-last-child(1) {
        display: block;
    }
    .menu li {
        display: block;
    }
    .menu li a {
        line-height: 2.8em;
    }
    footer {
        display: none;
    }
    .menu-list-sub {
        padding: 0;
    }
    .menu-list-sub:nth-last-child(1) {
        margin: 0;
    }
}